#sidebar {
  grid-area: main;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 100;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 12px;
  font-size: 18px;
}

.line {
  width: 60%;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.logout {
  padding-top: 200px;
  cursor: pointer;
}

.box {
  padding: 0;
  margin: 0;
  height: 30px;
  width: 0;
  border-left: 5px solid #ffffff;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
}

.forboxde {
  display: flex;
  align-items: center;
}

.selected {
  border-left: 5px solid #2172c9;
}

@media only screen and (max-width: 800px) {
  .sidebar-list {
    width: 100%;
    position: fixed;
    background-color: white;
    height: 50px;
    z-index: 1000;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    border-radius: 35px 35px 0 0;
    box-shadow: 0px 0px 10px rgba(26, 112, 211, 0.2);
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
  }

  .sidebar-list-item {
    padding: 0 0 0 0;
    font-size: 18px;
    z-index: 1000;
  }

  .line {
    width: 0;
    display: none;
  }

  .logout {
    position: fixed;
    top: -180px;
    right: 20px;
    z-index: 1000;
    color: white;
  }

  .forboxde {
    display: flex;
    flex-direction: column;
  }

  .box {
    height: 0;
    width: 30px;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .selected {
    border-left: 5px solid transparent;
    border-bottom: 5px solid #2172c9;
  }
  #logoubox {
    display: none;
  }

  .forboxde .box {
    order: 2;
  }

  .projectli {
    order: 2;
  }

  #Dashboardlog {
    fill: white;
  }
}
